body {
    margin: 0%;
    background-color: azure;

}
header {
    background-color: rgb(167, 56, 48);
    color: rgb(248, 243, 243);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.4em;
}

.text-header :hover {
    color: rgb(243, 17, 17);
}

.logo {
    height: 100px;
    width: 150px;
    display: flex;
    padding-left: 50px;
}

.text-header {
    text-decoration: none;
    justify-content: space-between;
}

.text-header ul {
    display: flex;
    list-style: none;
    padding-right: 10px;
    padding-top: 25px;
    gap: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    & a {
        color: #fff;
        font-weight: bold;
        margin-right: 10px;
        text-decoration: none;
    }
}

.search-header {
    padding-top: 40px;
    padding-right: 200px;
}

.slideshow-container {
    position: relative;
    width: 100%;
    padding-bottom: 80px;
    overflow: hidden;
}

.slide {
    display: none;
    padding: 100px;
    text-align: center;
}

.selengkapnya{
    text-align: center;
}

.selengkapnya button {
    padding: 10px 20px; 
    font-size: 1em; 
    color: white; 
    background-color: rgb(81, 146, 132); 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}   

.selengkapnya button:hover {
    background-color: rgb(192, 65, 56);
}

.slide p {
    font-size: 1.5em;
    line-height: 1.5;
}


.active {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 20px 30px;
    font-size: 1.6em;
    color: rgb(122, 121, 121);
    background-color: transparent;
    border: none;
    border-radius: 3px;
    user-select: none;
    transform: translateY(-50%);
}

.prev {
    left: 100px;
}

.next {
    right: 100px;
}

.fade {
    animation: fade 1s;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

.tentang {
    font-size: 1.3em;
    background-color: rgb(236, 209, 209);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}

.tentang img {
    width: 300px;
    height: 200px;
}

.yantiel {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.Visimisi {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.About{
    background-color: rgb(236, 235, 231);
    width: 50%;
    height: 250px;
    font-size: 1.4em;
    border-radius: 20px;
    padding-right: 32px;
    box-shadow: 0 2px 5px;
}
.right {
    background-color: brown;
    color: #fff;
    width: 50%;
    height: 250px;
    padding-right: 38px;
    font-size: 1.4em;
    border-radius: 20px;
    box-shadow: 0 2px 5px;
}

.Visimisi ul{
    list-style-type: none;
}

.About, .right {  
    width: 48%;
}

.deskripsi{
    text-align: center;

}
.deskripsi a{
    border: 1px solid blue;
    padding: 2px;
    border-radius: 15px;
}

.produk {
    text-align: center;
    margin-top: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.produk p {
    font-size: 1.4em;
}

.elnaya {
    text-align: center;
}

.list-spesifikasi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    font-size: 1.4em;   
    margin-bottom: 120px;
}

.spesifikasi {
    margin-right: 0px;
    background-color: rgb(192, 108, 108);
    padding: 30px;
    border-radius: 60px;
}

.harga {
    background-color: rgb(187, 66, 66);
    border-radius: 60px;
    padding-left: 130px;
    padding-right: 162px;
    padding-top: 30px;
    color: #fff;
}


.Garansi {
    text-align: center;
    margin-top: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.garansi p {
    font-size: 1.4em;
}

.garansi li {
    font-size: 1.4em;
}

.produk-list {
    display: flex;
}

.produk-list img {
    width: 300px;
    height: 300px;
}

.list-produk {
    display: flex;
    align-items: center;
    gap: 40px;
    overflow-x: auto;
    width: 80%;
}

.list-produk .produk {
    border: solid;
    width: 400px;
    height: 400px;
}
.list-produk img {
    width: 300px;
    height: 300px;
}
.Promo-content h2 {
    margin: 0;
    font-size: 1.5em;
}

.garansi img{
    width: 100%;
    height: 400px;
    align-items: center;
}

.garansi h2{
    color:red;
}

.regist{
    font-style: italic;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
}

.registrasi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

.registrasi button{
    background-color: rgb(245, 26, 26);
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    width: 100px;
    height: 50px;
    margin: 7px; 
}

.registrasi h3{
    height: 50px;
    line-height: 50px;
}

.registrasi h3:hover{
    background-color: rgb(63, 109, 151)
}

.form{
    display: inline-block;
    color: red;
    font-style: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form p{
    text-align: center;
    color: black;
}


.produk{
    text-align: center;
}

.produk .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.produk .box-container .box h3{
    font-size: 2.2rem;
    padding: 1rem 0;
    color: var(--secondary);
}

.produk .box-container .box p{
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
    color: var(--light-color);
}

.produk .box-container .box .share{
    margin-top: 1rem;
}

.produk .box-container .box .share a{
    height: 4.5rem;
    width: 4.5rem;
    background: var(--primary);
    color: var(--white);
    line-height: 4.5rem;
    border-radius: 10%;
    font-size: 1.7rem;
    margin-right: .3rem;
    text-align: center;
}

.produk .box-container .box .share a:hover{
    background: var(--secondary);
}

.produk .box-container .box .link{
    display: block;
    font-size: 1.7rem;
    line-height: 2;
    color: var(--primary);
    padding: 5rem 0;
}

.produk .box-container .box .link:hover{
    color: var(--hover);
}

.produk .credit{
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary);
    border-top: .1rem solid var(--secondary);
}

.produk .credit span{
    color: var(--secondary);
}

.btn-mobile {
    border: 1px solid blue;
    padding: 8px;
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                                                                                                                                                                            
}
.btn-mobile:hover{
    background-color: rgb(223, 220, 220);
}

.list-koleksi {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.koleksi img{
    width: 438px;
    height: 400px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.promosi h2{
    color: red;
    font-size: 30px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.promosi button{
    background-color: rgb(245, 26, 26);
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    width: 150px;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 70px;
    margin-left: 810px; 
    
}

.promosi h3:hover{
    background-color: rgb(63, 109, 151)
}

.footer {
    position: relative;
    background-color: rgb(167, 56, 48);
    color: rgb(248, 243, 243);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4em;
}

.footer h1 {
    text-align: center;
}

.footer img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

